<%- include('./components/wrapper') %>

        <main id="content" class="flex-1">
          <div class="py-6">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
              <!-- Content -->
              <p class="text-gray-400">
                Email:
                <code class="text-white"><%= user.email %></code>
              </p>
              <p class="text-gray-400">
                Username:
                <code class="text-white"><%= user.id %></code>
              </p>
              <p class="text-gray-400">
                Password:
              </p>  
              <div onclick="navigator.clipboard.writeText('<%= password %>');" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-3 mb-0 w-full transition justify-left hover:bg-white/5 px-4 py-2 flex bg-neutral-900 placeholder:text-white/20 border border-black/10" style="width: 340px;">
                <span id="passwordText" style="filter: blur(5px)" onclick="navigator.clipboard.writeText('<%= password %>');" onmouseover="this.style.filter = 'none';" onmouseout="this.style.filter = 'blur(5px)';"><%= password %></span>
             </div>

              <div class="inline-flex flex rounded-md shadow-sm mt-4" role="group">
                <a href="../reset" type="button" class="transition px-4 py-2 text-sm font-medium text-black bg-white border border-white rounded-l-lg hover:bg-white hover:text-black focus:z-10 focus:ring-2 focus:ring-white focus:text-black"> 
                  Reset password (Wont Work) 
                </a>
                <a href="../panel" type="button" class="transition px-4 py-2 text-sm font-medium text-white bg-gray-700/75 border rounded-r-lg border-gray-700/50 hover:bg-gray-700/50 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-600 focus:text-white"> 
                  Panel 
                </a>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <%- include('./components/footer') %>